<div id="payment" class="page-layout carded left-sidenav" layout="row" ng-switch="vm.appInnerState">

    <!-- TOP BACKGROUND -->
    <div class="top-bg md-accent-bg"></div>
    <!-- / TOP BACKGROUND -->

    <!-- SIDENAV -->
    <md-sidenav class="sidenav" md-is-locked-open="$mdMedia('gt-md')" md-component-id="main-sidenav"

                ng-include="'app/main/payment/sidenavs/main/main-sidenav.html'" ms-scroll ms-sidenav-helper>
    </md-sidenav>
    <!-- / SIDENAV -->

    <!-- CENTER -->
    <div ng-switch-when="default" class="center" layout="column" flex>
        <!-- CONTENT HEADER -->
        <div class="header" layout="row" layout-align="start center">

            <div class="search-wrapper md-whiteframe-4dp" layout="row" layout-align="start center" flex>
                <md-button class="md-icon-button sidenav-toggle" ng-click="vm.toggleSidenav('main-sidenav')" hide-gt-md
                           aria-label="Toggle Sidenav">
                    <md-icon class="icon" md-font-icon="icon-menu"></md-icon>
                </md-button>

                <div class="search" flex layout="row" layout-align="start center">
                    <md-icon md-font-icon="icon-magnify" class="icon s24"></md-icon>
                    <input flex ng-model="vm.search" ng-change="loadByKeywordPayment(vm.search)" type="text" placeholder="Search for payment">
                </div>
            </div>

        </div>
        <!-- / CONTENT HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card" layout="column" flex>

            <!-- INVOICE VIEW PANE TOOLBAR -->
            <div class="toolbar" layout="row" layout-align="space-between center" ng-if="vm.activeInvoicePaneIndex === 1">
                <md-button class="md-icon-button"
                           ng-click="vm.closeReadPane()"
                           aria-label="Back">
                    <md-icon md-font-icon="icon-keyboard-backspace"></md-icon>
                </md-button>

              <div class="actions">
                <md-menu>
                  <md-button aria-label="More" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                    <md-icon md-font-icon="icon-dots-vertical"></md-icon>
                    <md-tooltip>Product Action</md-tooltip>
                  </md-button>

                  <md-menu-content width="3">
                    <md-menu-item>
                      <md-button aria-label="Print" ng-click="printDiv('payment-read')">
                        <md-icon md-font-icon="icon-floppy"></md-icon>
                        <span>Print</span>
                      </md-button>
                    </md-menu-item>
                    </md-menu-item>
                    <md-menu-item>
                      <md-button aria-label="Delete" ng-hide="vm.selectedPayment.status=='Cancelled'" ng-click="showCancelPaymentConfirm($event,vm.selectedPayment)">
                        <md-icon md-font-icon="icon-delete"></md-icon>
                        <span>Cancel Payment</span>
                      </md-button>
                    </md-menu-item>
                  </md-menu-content>
                </md-menu>
              </div>
            </div>
            <!-- / INVOICE VIEW PANE TOOLBAR -->

          <!-- CONTENT TOOLBAR -->
          <div class="toolbar list-header" layout="row" layout-align="space-between center" ng-if="vm.activeInvoicePaneIndex === 0">
            <div layout="row" flex layout-align="start center" style="padding-left: 0px;">
              <div class="info" flex layout="row" style="height: 40px">

                <!--<div class="prodMainInfo" layout="column" layout-align="center start" style="width: 190px;">-->
                <div class="promoMainInfo" layout="column" layout-align="center strat" flex style="margin-left: 10px">
                  Payment ID
                </div>

                <div class="date" class="prodMainInfo topMargin" flex layout="column" layout-align="center start">
                  Customer
                </div>

                <div class="date" flex layout="column" layout-align="center start">
                  Date
                </div>

                <div class="date" flex layout="column" layout-align="center start">
                  Amount
                </div>

                <div class="date" class="prodMainInfo topMargin" flex="10" layout="column" layout-align="center start">
                  Method
                </div>

              </div>
            </div>
          </div>
          <!-- / CONTENT TOOLBAR -->

            <!-- CONTENT WRAPPER -->
            <div class="content-wrapper" layout="row" flex>

                <md-tabs md-selected="vm.activeInvoicePaneIndex" class="invoice-tabs" md-dynamic-height="{{vm.dynamicHeight}}" flex>
                    <!-- INVOICE LIST PANE -->
                    <md-tab>
                        <md-tab-label>Payment List Pane</md-tab-label>
                        <md-tab-body>
                            <div class="content invoice-list-pane"
                                 ng-include="'app/main/payment/views/list/list-view.html'" ms-scroll>
                            </div>
                        </md-tab-body>
                    </md-tab>
                    <!-- / INVOICE LIST PANE -->

                    <!-- INVOICE DISPLAY PANE -->
                    <md-tab>
                        <md-tab-label>Payment Display Pane</md-tab-label>
                        <md-tab-body>
                            <div class="content invoice-display-pane"
                                 ng-include="'app/main/payment/views/read/read-view.html'" ms-scroll>
                            </div>
                        </md-tab-body>
                    </md-tab>
                    <!-- / INVOICE DISPLAY PANE -->
                </md-tabs>

            </div>
            <!-- / CONTENT WRAPPER -->

        </div>
        <!-- / CONTENT CARD -->
    </div>

    <!-- / CENTER -->

    <!-- CENTER -->
    <div ng-switch-when="add" class="center" layout="column" flex>

        <!-- CONTENT CARD -->
        <div class="content-card" layout="column" flex>

            <!-- INVOICE VIEW PANE TOOLBAR -->
           <div class="toolbar" layout="row" layout-align="space-between center" ng-if="vm.activeInvoicePaneIndex === 1">
                <md-button class="md-icon-button"
                           ng-click="vm.closeReadPane()"
                           aria-label="Back">
                    <md-icon md-font-icon="icon-keyboard-backspace"></md-icon>
                </md-button>
            </div>
            <!-- / INVOICE VIEW PANE TOOLBAR -->

            <!-- CONTENT WRAPPER -->
            <div class="content-wrapper" ms-scroll flex>

              <md-content>
                <form name="editForm" ng-submit="submit()">
                  <!--<md-content flex layout-padding> style="height:600px;overflow-y: scroll;"-->
                  <div class="body-content-wrap">

                    <div layout-gt-sm="row">
                      <label>General Detial
                      </label>
                    </div>

                    <div layout-gt-sm="row">
                      <md-autocomplete flex
                                       md-select-on-match
                                       ng-keypress="enter($event)"
                                       ng-disabled="vm.isDisabled"
                                       md-input-name="autocompleteField"
                                       md-no-cache="vm.noCache"
                                       md-selected-item="customer_supplier.customer"
                                       md-selected-item-change="loadInvoice(customer_supplier.customer)"
                                       md-search-text="vm.searchText"
                                       md-items="item in vm.querySearch(vm.searchText)"
                                       md-item-text="item.display"
                                       md-floating-label="Customer"
                                       md-min-length="0">
                        <md-item-template>
                          <span md-highlight-text="vm.searchText">{{item.display+" : "+item.value.othername}}</span>
                        </md-item-template>
                      </md-autocomplete>

                    </div>

                    <div layout-gt-sm="row">
                      <div class="md-block p-l-50" style="padding-top: 13px;" flex-gt-sm>
                        <!--<label>Payment Date</label>-->
                        <md-datepicker ng-model="content.paymentDate" ng-init="content.paymentDate=today;" style="width: 300px;" placeholder="Payment Date" label="Payment Date">
                        </md-datepicker>
                      </div>
                      <md-input-container class="md-block p-l-50" flex-gt-sm>
                        <label>Currency</label>
                        <md-select ng-required="false" name="currency" ng-change="convertCurrency(content.preferredcurrency)" ng-model="content.preferredcurrency">
                          <md-divider></md-divider>
                          <md-option ng-value="BaseCurrency">{{BaseCurrency}}</md-option>
                          <md-option ng-hide="currency==BaseCurrency" ng-repeat="currency in prefferedCurrencies" ng-value="currency">{{currency}}</md-option>
                        </md-select>
                      </md-input-container>
                      <div hide-xs hide-sm flex-gt-sm="5">
                      </div>
                      <md-input-container class="md-block" flex-gt-sm>
                        <label>Currency Convert Rate</label>
                        <input ng-required="false" minlength="null" md-maxlength="null" type="" name="rate" min="" ng-pattern="" ng-disabled="true" ng-model="currencyRate">
                      </md-input-container>
                    </div>
                  </div>

                  <md-divider></md-divider>

                  <div class="body-content-wrap">
                    <!--</div>-->

                    <div layout-gt-sm="row" style="margin-bottom: 20px;">
                      <label>Invoice Details</label>
                    </div>

                    <div layout="row" layout-wrap style="border-bottom: solid 1px #cccccc; margin-bottom: 5px; color: #aaa;font-size: 14px;text-align: center">
                      <div flex="20" class="p-l-15">
                        Invoice No:
                      </div>
                      <div flex="20" class="text-left" style="text-align: center">
                        Invoice Amount
                      </div>
                      <div flex="20" class="text-left" style="text-align: center">
                        Adjustment
                      </div>
                      <div flex="20" class="text-left" style="text-align: center">
                        Paid Amount
                      </div>
                      <div flex="20" class="text-right" style="padding-right: 30px;text-align: center">
                        Balance Payment
                      </div>
                    </div>
                    <md-content ms-scroll>
                      <md-list style="height:250px;overflow-x: hidden;">
                        <md-list-item  ng-repeat="item in invoicelist"  style="outline:none;padding: 0;text-align: center">
                          <md-card layout="row" class="md-card-wrap" layout-align="space-between center">
                            <!--<div flex="30"><img src="{{item.business_contact_no}}" style="width:80px;margin-left: 10px;"/></div>-->
                            <div flex="20" layout="column" layout-align="center left">
                              <label class="md-card-label-wrap">{{item.invoiceNo}}</label>
                            </div>
                            <div flex="20" layout="column">
                              <label class="md-card-label-wrap">{{item.invoiceAmount| currency:" "}}</label>
                            </div>
                            <div flex="20" layout="column">
                              <label class="md-card-label-wrap" ng-if="item.adjustmenttype=='0'">{{item.invoiceAdjustment| currency:" "}}</label>
                              <label ng-if="item.adjustmenttype=='1'" class="md-card-label-wrap">-{{item.invoiceAdjustment| currency:" "}}</label>
                              <label ng-if="item.adjustmenttype=='2'" class="md-card-label-wrap">+{{item.invoiceAdjustment| currency:" "}}</label>
                            </div>
                            <div flex="20" layout="column">
                              <label class="md-card-label-wrap">{{item.paidAmount| currency:" "}}</label>
                            </div>
                            <div flex="20" layout="column">
                              <label class="md-card-label-wrap">{{item.balancepayment| currency:" "}}</label>
                            </div>

                          </md-card>
                        </md-list-item >
                      </md-list>
                    </md-content>
                    <md-divider></md-divider>

                    <div layout-gt-sm="row" style="text-align: center;padding: 10px 0;border-bottom: solid 1px #cccccc;margin-bottom: 20px">
                      <div flex>
                        <label class="calc-detail-label">Total Balance Payments</label>
                      </div>
                      <div flex style="font-weight: 400">
                        <label class="calc-detail-label">{{invoicelist[0].totalbalance| currency:" "}}</label>
                      </div>
                    </div>

                    <div layout-gt-sm="row">
                      <md-input-container class="md-block" flex>
                        <label>Payment Amount</label>
                        <input ng-required="true" minlength="null" md-maxlength="null" type="number" name="amount" min="0" step="0.01" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" style="text-align:right;" ng-model="content.amount">
                      </md-input-container>

                      <div flex="10"></div>

                      <div flex>
                        <md-input-container class="md-block p-l-50" flex-gt-sm>
                          <label>Payment Method</label>
                          <md-select ng-required="true" name="paymentMethod" ng-model="content.paymentMethod">
                            <md-divider></md-divider>
                            <md-option value="Cash">Cash</md-option>
                            <md-option value="Cheque">Cheque</md-option>
                            <md-option value="Card">Card</md-option>
                            <!--<md-option ng-repeat="profile in profilelist" ng-value="profile">{{profile.profilename}}</md-option>-->
                          </md-select>
                        </md-input-container>
                        <md-input-container ng-show="content.paymentMethod=='Cheque'" class="md-block" flex-gt-sm>
                          <label>Cheque No</label>
                          <input ng-required="false" minlength="null" md-maxlength="null" type="" name="chequeNo" ng-pattern="" ng-model="content.chequeNo">
                        </md-input-container>
                      </div>
                    </div>
                  </div>

                  <md-divider></md-divider>

                  <div class="body-content-wrap">

                    <div layout-gt-sm="row">
                      <label>Other</label>
                    </div>

                    <div layout-gt-sm="row">
                      <div layout-gt-sm="row">
                        <md-input-container class="md-block p-l-50" flex-gt-sm>
                          <label>Bank Charges</label>
                          <input ng-required="false" minlength="null" md-maxlength="null" style="width: 180px;" type="number" name="bankCharges" min="0" step="0.01" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" ng-model="content.bankCharges">
                        </md-input-container>
                      </div>
                    </div>

                    <div layout="row" flex>
                      <md-input-container class="md-block" flex>
                        <label>Notes</label>
                        <input ng-required="false" minlength="null" md-maxlength="null" type="" name="note" ng-pattern="" ng-model="content.note">
                      </md-input-container>
                    </div>

                  </div>
                  <div layout="row" layout-align="space-between center" class="bottom-fixed-bar layout-align-space-between-center layout-row">
                    <div layout="row"></div>

                    <div layout="row" class="layout-row">
                      <md-button ng-click="clearform();"">Clear</md-button>
                      <md-button ng-disabled="submitted" type="submit" class="md-raised md-warn">Submit</md-button>
                    </div>
                  </div>

                </form>
              </md-content>
            </div>
            <!-- / CONTENT WRAPPER -->

        </div>
        <!-- / CONTENT CARD -->
    </div>

    <!-- / CENTER -->

</div>
