<div id="payment" class="page-layout carded left-sidenav" layout="row" ng-switch="vm.appInnerState">

    <!-- TOP BACKGROUND -->
    <div class="top-bg md-accent-bg"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div ng-switch-when="default" class="center" layout="column" flex>
        <!-- CONTENT HEADER- V NAV-->
        <div layout="column" layout-align="start start">
            <div class="v-header" layout="column" flex fill-width>
                <div class="title" layout="column" layout-align="center start" ng-if="!themeDuoworld">
                    <div class="logo" layout="row" layout-align="start center">
                        <span class="logo-icon logo-icon-receipt"></span>
                        <span class="logo-text">Receipt</span>
                    </div>
                </div>
                <div layout="row">
                    <div class="title" layout="column" layout-align="center start" ng-if="themeDuoworld">
                        <div class="logo" layout="row" layout-align="start center">
                          <span class="logo-icon logo-icon-receipt"></span>
                          <span class="logo-text">Receipt</span>
                        </div>
                    </div>
                    <div class="search-wrapper md-whiteframe-4dp" layout="row" layout-align="start center" flex ng-class="{'op-5':vm.activePaymentPaneIndex == 1}">
                        <div class="search" flex layout="row" layout-align="start center">
                            <md-icon md-font-icon="icon-magnify" class="icon s24"></md-icon>
                            <input ng-disabled="vm.activePaymentPaneIndex == 1" flex ng-model="vm.search" type="text" ng-keypress="searchKeyPress($event,vm.search,vm.search.length)" ng-change="loadByKeywordPlan(vm.search,3)" placeholder="Search for Plans">
                        </div>
                    </div>
                    <md-button class="md-raised md-accent main-app-create" layout="row" layout-align="center center" aria-label="compose" ng-disabled="vm.activePaymentPaneIndex == 1" ng-click="vm.addInvoice()" ng-if="!inpageReadPaneEdit"><span class="fs-18 mr-10">+</span> NEW
                    </md-button>
                </div>
            </div>
        </div>
        <!-- / CONTENT HEADER -->

        <div layout="row" flex>
            <!-- CONTENT CARD -->
            <div class="content-card" layout="column" ng-class="{'flex-30':showInpageReadpane}" flex>

                <!-- CONTENT TOOLBAR -->
                <div class="toolbar list-header" layout="row" layout-align="space-between center" ng-if="vm.activePaymentPaneIndex === 0">
                    <div ng-include="'app/main/payment/views/list/list-header.html'" layout="row" flex layout-align="start center"></div>
                </div>
                <div class="toolbar" layout="row" layout-align="end center" ng-if="vm.activePaymentPaneIndex === 1">
                    <md-button class="md-icon-button" style="margin-right: -10px"
                               ng-click="vm.addInvoice()"
                               aria-label="Back">
                        <md-icon md-font-icon="icon-close"></md-icon>
                    </md-button>
                </div>
                <!-- / CONTENT TOOLBAR -->

                <!-- CONTENT WRAPPER -->
                <div class="content-wrapper" layout="row" flex>
                    <md-tabs md-selected="vm.activePaymentPaneIndex" class="content-tabs fixed-tab" md-dynamic-height="{{vm.dynamicHeight}}" flex>
                        <!-- INVOICE LIST PANE -->
                        <md-tab>
                            <md-tab-label>Plans List Pane</md-tab-label>
                            <md-tab-body>
                                <div layout="row">
                                    <div flex class="content main-list-pane"
                                         ng-include="'app/main/payment/views/list/list-view.html'" ms-scroll>
                                    </div>
                                </div>

                            </md-tab-body>
                        </md-tab>
                        <!-- / INVOICE LIST PANE -->

                        <!-- INVOICE DISPLAY PANE -->
                        <md-tab>
                            <md-tab-label>Plans Display Pane</md-tab-label>
                            <md-tab-body>
                                <div class="content plan-display-pane mb-50"
                                     ng-include="'app/main/payment/views/read/read-view.html'" ms-scroll>
                                </div>
                                <div md-whiteframe="8dp" layout="row" layout-align="space-between center" class="bottom-fixed-bar fixed">
                                    <div layout="row"></div>

                                    <div layout="row" class="layout-row">
                                        <md-button ng-click="clearform()">Clear</md-button>
                                        <md-button ng-disabled="vm.submitted" type="submit" form="paymentForm" class="md-raised md-accent">Save</md-button>
                                    </div>
                                </div>
                            </md-tab-body>
                        </md-tab>
                        <!-- / INVOICE DISPLAY PANE -->
                    </md-tabs>
                </div>
                <!-- / CONTENT WRAPPER -->

            </div>

            <div flex class="inpage-readpane" layout="column" md-whiteframe="4dp" ng-if="showInpageReadpane">
                <div layout="row" layout-align="space-between center" class="inpage-readpane-toolbar">
                    <h3 class="group-sub-head" layout="row" layout-align="start center">Receipt info</h3>
                    <div layout="row">
                        <md-menu>
                            <md-button aria-label="More" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                                <md-icon md-font-icon="icon-menu"></md-icon>
                                <md-tooltip>Payment Action</md-tooltip>
                            </md-button>

                            <md-menu-content width="3">
                                <md-menu-item>
                                    <md-button aria-label="Print" ng-click="printDiv('paymentPreview')">
                                        <md-icon md-font-icon="icon-floppy"></md-icon>
                                        <span>Print</span>
                                    </md-button>
                                </md-menu-item>
                                <md-menu-item>
                                    <md-button aria-label="Email" ng-click="emailPayment($event,'paymentPreview')">
                                        <md-icon md-font-icon="icon-email"></md-icon>
                                        <span>Email</span>
                                    </md-button>
                                </md-menu-item>
                                <md-menu-item>
                                    <md-button aria-label="Delete" ng-disabled="vm.selectedPayment.status=='Cancelled'" ng-click="showCancelPaymentConfirm($event,vm.selectedPayment)">
                                        <md-icon md-font-icon="icon-delete"></md-icon>
                                        <span>Cancel Payment</span>
                                    </md-button>
                                </md-menu-item>
                            </md-menu-content>
                        </md-menu>
                        <md-button class="md-icon-button" ng-click="switchInfoPane('close',vm.selectedPayment)">
                            <md-icon md-font-icon="icon-close"></md-icon>
                            <md-tooltip>Close</md-tooltip>
                        </md-button>
                    </div>
                </div>
                <div class="preloader animate-fade-in-out" ng-show="!isReadLoaded" style="top: 35px;">
                    <md-progress-circular></md-progress-circular>
                </div>
                <md-content flex ms-scroll layout="column" layout-align="start center" class="inpage-readpane-body">
                    <div id="paymentPreview" md-whiteframe="1dp" style="width: 700px;position:relative"></div>
                </md-content>

                <div layout="row" layout-align="end center" md-whiteframe="8dp" class="bottom-fixed-bar absolute" ng-if="inpageReadPaneEdit">
                    <div layout="row"></div>
                    <div layout="row" class="layout-row">
                        <md-button ng-click="editPlan(tempEditPlan)">Reset</md-button>
                        <md-button ng-disabled="vm.submitted" type="submit" form="editPlanForm" class="md-raised md-accent">Update</md-button>
                    </div>
                </div>
            </div>
            <!-- / CONTENT CARD -->
        </div>
    </div>
    <!-- / CENTER -->

</div>
