<form name="vm.editForm" id="paymentForm" ng-submit="submit()" novalidate>
    <!--CREATE NEW INVOICE _ CARDED=================================================-->
    <md-card flex class="input-block-gen">
        <md-card-title>
            <div layout="row" layout-align="start center">
                <md-icon md-font-icon="icon-cog"></md-icon> <h3>General Details</h3>
            </div>
        </md-card-title>
        <md-card-content>

            <div layout="row">
                <div layout="row" flex="30">
                    <div layout="row" layout-align="center center" ng-show="vm.isAutoDisabled" >
                        <md-progress-circular></md-progress-circular>
                    </div>
                    <md-autocomplete flex class="mt-20"
                                     md-input-id="acProfileIdPayment"
                                     ng-keydown="toggleProfileSearchMre($event)"
                                     ng-required="true"
                                     md-select-on-match
                                     ng-keypress="enter($event)"
                                     ng-disabled="vm.isAutoDisabled"
                                     md-input-name="autocompleteField"
                                     md-no-cache="vm.noCache"
                                     md-selected-item="customer_supplier.customer"
                                     md-selected-item-change="loadInvoice(customer_supplier.customer)"
                                     md-search-text-change="loadProfileByKeyword(vm.searchText)"
                                     md-search-text="vm.searchText"
                                     md-items="item in vm.querySearch(vm.searchText)"
                                     md-item-text="item.display"
                                     md-floating-label="Name"
                                     md-min-length=""
                                     autocomplete-validator>
                        <md-item-template>
                            <span md-highlight-text="vm.searchText">{{item.display+" : "+item.value.othername}}</span>
                        </md-item-template>
                        <div ng-messages="vm.editForm.autocompleteField.$error">
                            <div ng-message="invalidInput" ng-if="!vm.editForm.autocompleteField.$error.required">Please select a valid profile</div>
                        </div>
                    </md-autocomplete>
                </div>

                <div flex="5"></div>

                <md-input-container flex="30">
                    <label>Payment Date</label>
                    <md-datepicker ng-model="content.paymentDate" ng-init="content.paymentDate=today;"></md-datepicker>
                </md-input-container>
            </div>
            <div layout="column">
                <div flex>
                    <div class="list-header" layout="row" flex>
                        <span flex="10">Invoice No</span>
                        <span flex class="text-right">Invoice Amount</span>
                        <span flex class="text-right">Adjustments</span>
                        <span flex class="text-right">Paid Amount</span>
                        <span flex class="text-right">Balance Amount</span>
                    </div>
                    <md-content ms-scroll class="payment-list-body" flex>
                        <div class="preloader" ng-if="!vm.isLoaded">
                            <md-progress-circular></md-progress-circular>
                        </div>

                        <div layout="row" layout-align="center center" style="height: 100%;" class="state-checker" ng-if="customer_supplier.customer == '' || customer_supplier.customer == null || customer_supplier.customer == undefined">
                            <span><md-icon md-font-icon="icon-information-outline"></md-icon> No customer has been selected yet</span>
                        </div>

                        <div layout="row" class="list-item pv-10 ph-15 bb b-light" ng-repeat="item in invoicelist" ng-if="invoicelist.length > 0 && customer_supplier.customer != null">
                            <span flex="10">{{item.invoiceNo}}</span>
                            <span flex class="text-right">{{item.invoiceAmount| isoCurrency:content.preferredcurrency}}</span>
                            <span flex class="text-right">
                                <label ng-if="item.adjustmenttype=='0'">{{item.invoiceAdjustment| isoCurrency:content.preferredcurrency}}</label>
                                  <label ng-if="item.adjustmenttype=='1'">-{{item.invoiceAdjustment| isoCurrency:content.preferredcurrency}}</label>
                                  <label ng-if="item.adjustmenttype=='2'">+{{item.invoiceAdjustment| isoCurrency:content.preferredcurrency}}</label>
                            </span>
                            <span flex class="text-right">{{item.paidAmount| isoCurrency:content.preferredcurrency}}</span>
                            <span flex class="text-right">{{item.balancepayment| isoCurrency:content.preferredcurrency}}</span>
                        </div>

                    </md-content>
                </div>
            </div>

        </md-card-content>
        <md-card-actions>
            <div layout="row" layout-align="start start" class="product-sub-block p-0">
                <div layout="column" flex></div>
                <div layout="column" flex>
                    <div layout="row" layout-align="space-between center" class="total sub-pricing-info">
                        <span>Total Balance Payments</span>
                        <span class="li-connector" flex></span>
                        <span ng-init="invoicelist[0].totalbalance = 0">{{invoicelist[0].totalbalance| isoCurrency:content.preferredcurrency}}</span>
                    </div>
                </div>
            </div>
        </md-card-actions>
    </md-card>

    <md-card flex class="input-block-gen">
        <md-card-title>
            <div layout="row" layout-align="start center">
                <md-icon md-font-icon="icon-credit-card-multiple"></md-icon> <h3>Payment Details</h3>
            </div>
        </md-card-title>
        <md-card-content>
            <div layout="row">
                <md-input-container flex="30">
                    <label>Currency</label>
                    <md-select ng-required="false" name="currency" ng-change="convertCurrency(content.preferredcurrency)" ng-model="content.preferredcurrency">
                        <md-option ng-value="BaseCurrency">{{BaseCurrency}}</md-option>
                        <md-option ng-hide="currency==BaseCurrency" ng-repeat="currency in prefferedCurrencies" ng-value="currency">{{currency}}</md-option>
                    </md-select>
                </md-input-container>

                <div flex="5"></div>

                <div layout="row" layout-align="start center" flex="30" class="state-capsule">
                    <div layout="row">
                        <span>Currency Convert Rate</span>
                        <span>{{currencyRate}}</span>
                    </div>
                </div>
            </div>
            <div layout="row">
                <md-input-container flex="30">
                    <label>Payment Amount</label>
                    <input ng-required="true" minlength="null" ng-maxlength="35" type="number" name="amount" min="0" step="0.01" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" ng-model="content.amount">
                    <div ng-messages="vm.editForm.amount.$error">
                        <div ng-message="maxlength">Amount must be between 1-35 characters</div>
                    </div>
                </md-input-container>

                <div flex="5"></div>

                <md-input-container flex="30" >
                    <label>Payment Method</label>
                    <md-select ng-required="true" name="paymentMethod" ng-model="content.paymentMethod">
                        <md-option value="Cash">Cash</md-option>
                        <!--<md-option value="Cheque">Cheque</md-option>-->
                        <md-option value="Card">Credit/Debit card</md-option>
                        <!--<md-option ng-repeat="profile in profilelist" ng-value="profile">{{profile.profilename}}</md-option>-->
                    </md-select>
                </md-input-container>

                <div flex="5"></div>

                <md-input-container ng-show="content.paymentMethod=='Cheque'" flex="30">
                    <label>Cheque No</label>
                    <input ng-required="false" minlength="null" md-maxlength="null" type="" name="chequeNo" ng-pattern="" ng-model="content.chequeNo">
                </md-input-container>
            </div>
        </md-card-content>
    </md-card>

    <md-card flex class="input-block-gen">
        <md-card-title>
            <div layout="row" layout-align="start center">
                <md-icon md-font-icon="icon-note"></md-icon> <h3>Other</h3>
            </div>
        </md-card-title>
        <md-card-content>
            <div layout="row">
                <md-input-container flex>
                    <label>Notes</label>
                    <input ng-required="false" minlength="null" ng-maxlength="250" name="note" ng-model="content.note">
                    <div ng-messages="vm.editForm.note.$error">
                        <div ng-message="maxlength">Note must be between 1-250 characters</div>
                    </div>
                </md-input-container>
            </div>
        </md-card-content>
    </md-card>
    <!--CREATE NEW INVOICE _ CARDED=================================================-->
</form>
