<!-- INVOICE LIST ITEMS -->
<meta name="updatedBy" content="GihanHerath">
<meta name="modifiedDate" content="24-10-2016">
<meta name="version" content="6.0.0.6">
<meta name="app" content="payment">
<meta name="view" content="list-view.html">

<div class="invoice-list-item" layout="row" layout-align="start center" ng-repeat="payment in vm.payments | filter: vm.search | filter: global.search"
     md-ink-ripple
     ng-click="vm.selectPayment(payment)"
     ng-class="{'starred': payment.starred, 'selected': vm.selectedPayment === payment, 'checked': vm.isChecked(payment)}">

  <div layout="row" layout-align="start center" flex>
    <div class="info" flex layout="row">
      <div class="invoiceMainInfo" layout="column" layout-align="center start">
        <span>{{payment.paymentNo}}</span>
      </div>
    </div>

    <div flex class="date" layout="column" layout-align="center start">
      <span>{{getFirstName(payment.customer)}}</span>
    </div>

    <div flex class="date" layout="column" layout-align="center start">
      <span>{{payment.paymentDate | parseDate | date: 'dd'}} {{payment.paymentDate | parseDate | date: 'MMMM' | limitTo: 3}} {{payment.paymentDate | parseDate | date: 'yyyy'}}</span>
    </div>

    <div flex class="date" layout="column" layout-align="center end">
      <span>{{payment.amount | isoCurrency:payment.currency}}</span>
      <!-- <span class="totaldue"><i>{{}}</i></span> -->
    </div>

    <div flex="5"></div>

    <div flex class="date" layout="column" layout-align="center start">
      <span>{{payment.paymentMethod}}</span>
    </div>

    <div flex="10" class="status" layout="column" layout-align="center end">
      <span class="pill paid" ng-if="payment.status=='Active'" layout="row" layout-align="center center">{{payment.status}}</span>
      <span class="pill unpaid" ng-if="payment.status=='Cancelled'" layout="row" layout-align="center center">{{payment.status}}</span>
    </div>
  </div>
</div>
<div class="invoice-list-item" ng-hide="hideSearchMore || vm.searchMoreInit" layout="row" layout-align="center center">
  <md-button ng-click="loadByKeywordPayment(vm.search,vm.search.length)" class="md-primary" style="font-size: 12px;font-weight: 400"><md-icon md-font-icon="icon-magnify"></md-icon> More</md-button>
</div>
<!-- PRODUCT LIST ITEMS
