<div class="main-list-preloader animate-fade-in-out" layout="row" layout-sm="column" layout-align="space-around" ng-if="isLoading">
    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
</div>
<div class="msg-empty-list full animate-fade-in-out" layout="column" layout-align="center center" ng-if="vm.payments.length == 0">
    <img src="app/core/app_icons/plan_app_icon_list.svg" alt="No adjustments">
    <div class="mt-20">Nothing to show</div>
</div>

<!-- PAYMENT LIST ITEMS -->
<div class="list-item" layout="row" layout-align="center center" flex ng-repeat="payment in vm.payments | filter: vm.search | filter: global.search"
     md-ink-ripple
     ng-click="switchInfoPane('show',payment)"
     ng-class="{'selected': vm.selectedPayment === payment && showInpageReadpane}">

    <div class="info" layout="row" layout-align="start center" flex="30" style="max-width: 250px">
        <div class="dual-info" layout="column" layout-align="center start">
            <span>{{getFirstName(payment.customer)}}</span>
            <div class="dual-info-sub">
                {{payment.paymentNo}}
            </div>
        </div>
    </div>

    <div flex layout="column" layout-align="center start" ng-if="!showInpageReadpane">
        {{payment.paymentDate | parseDate | date: 'dd'}} {{payment.paymentDate | parseDate | date: 'MMMM' | limitTo: 3}} {{payment.paymentDate | parseDate | date: 'yyyy'}}
    </div>

    <div flex layout="column" layout-align="center start" ng-if="!showInpageReadpane">
        <span>{{payment.paymentMethod}}</span>
    </div>

    <div flex layout="column" layout-align="center end" ng-if="!showInpageReadpane">
        <span>{{payment.amount | isoCurrency:payment.currency}}</span>
    </div>

    <div flex="5"></div>

    <div class="status" layout="column" layout-align="center start" ng-class="{'flex-30':showInpageReadpane == true,'flex-10': showInpageReadpane == false}">
        <span class="pill" layout="row" layout-align="center center" ng-class="{'negative':payment.status==='Cancelled','positive':payment.status==='Active'}">{{payment.status}}</span>
    </div>
</div>

<div class="invoice-list-item" ng-hide="hideSearchMore || vm.searchMoreInit" layout="row" layout-align="center center">
    <md-button ng-click="loadByKeywordPayment(vm.search,vm.search.length)" class="md-primary" style="font-size: 12px;font-weight: 400"><md-icon md-font-icon="icon-magnify"></md-icon> More</md-button>
</div>
<!-- PAYMENT LIST ITEMS
