<div layout="row" flex layout-align="center center" class="main-wrap animated fadeIn">
    <div layout="column" flex="80" layout-align="center center">
        <!--<div layout="column" class="sd" ng-slimscroll height="650" always-visible="false" border-radius="5px" opacity="0.2" position="right" enabled="ctrl.enabled">-->
        <div layout="column" class="sd">
            <md-toolbar class="header-bg-blue header-cloudC-000">
                <div class="md-toolbar-tools header-bg-blue p-0">
                    <div class="header-content">
                        <div class="logo-left">
                            <img src="../asset/images/adjustments_add_118x99.png">
                        </div>
                        <div class="text-wrap">
                            <h1 class="font-Lato">Payment
                                <i class="ti-close last" ng-click="$state.go('dock')">
                                    <md-tooltip md-direction="bottom">
                                        close
                                    </md-tooltip>
                                </i>
                                <i class="ti-arrow-left first" ng-click="returntolist()">
                                    <md-tooltip md-direction="bottom">
                                        back
                                    </md-tooltip>
                                </i>
                            </h1>

                        </div>
                    </div>
                </div>
            </md-toolbar>
            <md-content class="overflow-hidden">
                <form name="editForm" ng-submit="submit()">
                <div layout-gt-sm="row" class="sub-header-wrap">
                    <label>Customer</label>
                </div>
                <!--<md-content flex layout-padding>-->
                    <div class="body-content-wrap" ng-slimscroll height="580" always-visible="false" border-radius="5px" opacity="0.2" position="right" enabled="ctrl.enabled">
                        <div layout-gt-sm="row">
                            <md-autocomplete flex
                                             md-select-on-match
                                             ng-keypress="enter($event)"
                                             ng-disabled="ctrl.isDisabled"
                                             md-input-name="autocompleteField"
                                             md-no-cache="ctrl.noCache"
                                             md-selected-item="customer_supplier.customer"
                                             md-selected-item-change="loadInvoice(customer_supplier.customer)"
                                             md-search-text="ctrl.searchText"
                                             md-items="item in ctrl.querySearch(ctrl.searchText)"
                                             md-item-text="item.display"
                                             md-floating-label="Customer"
                                             md-min-length="0">
                                <md-item-template>
                                    <span md-highlight-text="ctrl.searchText">{{item.display}}</span>
                                </md-item-template>
                            </md-autocomplete>

                        </div>

                        <div layout-gt-sm="row">
                            <div class="md-block" flex-gt-sm>
                                <md-date-picker model="content.paymentDate" ng-init="content.paymentDate=today;" style="width: 300px;" label="Payment Date"/>
                            </div>
                        </div>

                        <div layout-gt-sm="row">
                            <md-input-container class="md-block p-l-50" flex-gt-sm>
                                <label>Payment Method</label>
                                <md-select ng-required="false" name="paymentMethod" ng-model="content.paymentMethod">
                                    <md-divider></md-divider>
                                    <md-option value="Cash">Cash</md-option>
                                    <md-option value="Cheque">Cheque</md-option>
                                    <!--<md-option ng-repeat="profile in profilelist" ng-value="profile">{{profile.profilename}}</md-option>-->
                                </md-select>
                            </md-input-container>
                            <md-input-container ng-show="content.paymentMethod=='Cheque'" class="md-block" flex-gt-sm>
                                <label>Cheque No</label>
                                <input ng-required="false" minlength="null" md-maxlength="null" type="" name="chequeNo" ng-pattern="" ng-model="content.chequeNo">
                            </md-input-container>
                        </div>

                    <!--</div>-->

                        <div layout-gt-sm="row" class="sub-header-wrap">
                            <label>Invoice Details</label>
                        </div>
                        <div class="sub-header-table-wrap" layout="row" layout-wrap>
                            <div flex="35" class="p-l-15">
                                Invoice No:
                            </div>
                            <div flex="25" class="text-left">
                                Invoice Amount
                            </div>
                            <div flex="20" class="text-left">
                                Paid Amount
                            </div>
                            <div flex="20" class="text-right">
                                Balance Payment
                            </div>
                        </div>
                        <div>
                            <md-list style="height:250px;overflow-y: scroll;">
                                <md-list-item  ng-repeat="item in invoicelist"  style="outline:none;">
                                    <md-card layout="row" class="md-card-wrap" layout-align="space-between center">
                                        <!--<div flex="30"><img src="{{item.business_contact_no}}" style="width:80px;margin-left: 10px;"/></div>-->
                                        <div flex="25" layout="column">
                                            <label class="md-card-label-wrap">{{item.invoiceNo}}</label>
                                        </div>
                                        <div flex="25" layout="column">
                                            <label class="md-card-label-wrap">{{item.invoiceAmount| currency}}</label>
                                        </div>
                                        <div flex="25" layout="column">
                                            <label class="md-card-label-wrap">{{item.paidAmount| currency}}</label>
                                        </div>
                                        <div flex="25" layout="column">
                                            <label class="md-card-label-wrap">{{item.balancepayment| currency}}</label>
                                        </div>

                                    </md-card>
                                </md-list-item >
                            </md-list>
                        </div>
                        <div layout-gt-sm="row" class="calc-detail-wrap">
                            <label class="calc-detail-label p-l-100">Total Balance Payments</label>
                            <label class="calc-detail-label p-l-100">{{invoicelist[0].totalbalance| currency}}</label>
                            <!--<label style="font-size: 20px;font-weight: 600;padding-left: 100px; height: 30px">{{items[0].amount| currency}}</label>-->
                        </div>

                    <!--<div class="body-content-wrap">-->

                        <div layout-gt-sm="row">
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Payment Amount</label>
                                <input ng-required="true" minlength="null" md-maxlength="null" type="number" name="amount" ng-pattern="" ng-model="content.amount">
                            </md-input-container>
                        </div>

                        <div layout-gt-sm="row" class="sub-header-wrap">
                            <label>Other</label>
                        </div>

                        <div layout-gt-sm="row">
                            <div layout-gt-sm="row">
                            <md-input-container class="md-block p-l-50" flex-gt-sm>
                                <label>Bank Charges</label>
                                <input ng-required="false" minlength="null" md-maxlength="null" style="width: 180px;" type="number" name="bankCharges" ng-pattern="" ng-model="content.bankCharges">
                            </md-input-container>
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Notes</label>
                                <input ng-required="false" minlength="null" md-maxlength="null" style="width: 450px;" type="" name="note" ng-pattern="" ng-model="content.note">
                            </md-input-container>
                            </div>
                        </div>


                    </div>


                <!--</md-content>-->

                <div class="form-footer-btn-wrap">
                    <div layout-gt-sm="row" class="p-0">
                        <!--<a flex="50" class="md-raise btn btn-cancel" ng-click="returntolist()">cancel-->
                        <!--</a>-->
                        <!--<a flex="50" class="md-raise btn btn-submit" type="submit" ng-click="showListBottomSheet()">submit-->
                        <!--</a>-->
                        <md-button flex="50" class="md-raise btn btn-cancel" ng-click="returntolist();" type="button">CANCEL</md-button>
                        <md-button flex="50" class="md-raise btn btn-submit" ng-disabled="submitted" type="submit">SUBMIT</md-button>
                    </div>
                </div>
                </form>
            </md-content>
        </div>
    </div>
</div>

