<md-dialog aria-label="Card Payment"  ng-cloak>
    <form action="" method="POST">
        <script
                src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                data-key="pk_test_jp476JACYugepaeGcF59GhR5"
                data-amount="cardPayAmount"
                data-name="CloudCharge"
                data-description="Card Payment"
                data-image="../asset/images/adjustments_add_118x99.png"
                data-locale="auto">
        </script>
    </form>
</md-dialog>