
body, html {
    height: auto;
    overflow: visible;
}

.p-l-15 {
    padding-left: 15px;
}

.p-l-25 {
    padding-left: 25px;
}

.p-l-100 {
    padding-left: 100px;
}

.p-l-200 {
    padding-left: 200px;
}

.p-l-500 {
    padding-left: 500px;
}

.body-content-wrap {
    height: auto;
    width: auto;
    padding: 30px 36px 3px 34px;
    display: block;
    top: 0;
}

/*.add-new {*/
    /*position: fixed;*/
    /*width: 70px;*/
    /*height: 70px;*/
    /*border-radius: 50%;*/
    /*background: #e64a19;*/
    /*top: 50%;*/
    /*right: 32%;*/
    /*color: #ffffff;*/
    /*text-align: center;*/
    /*-webkit-box-shadow: -3px 17px 17px -14px rgba(0, 0, 0, 0.75);*/
    /*-moz-box-shadow: -3px 17px 17px -14px rgba(0, 0, 0, 0.75);*/
    /*box-shadow: -3px 17px 17px -14px rgba(0, 0, 0, 0.75);*/
/*}*/

/*View List button css*/
.add-new {
    position: fixed;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #00c9dd;
    top: 75%;
    right: 24%;
    color: #ffffff;
    text-align: center;
    -webkit-box-shadow: -3px 17px 17px -14px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -3px 17px 17px -14px rgba(0, 0, 0, 0.75);
    box-shadow: -3px 17px 17px -14px rgba(0, 0, 0, 0.75);
}

.add-new.view-icon-wrapper{
    top: 85%;
    right: 1%;
}

.right-layout {
    background: #fff;
    width: auto;
    height: 613px;
    margin-left: -2px;
    padding-left: 40px;
    padding-right: 40px;
    overflow-x: auto;
}

#adjContent {
    z-index: 0;
}

#adjDetails {
    z-index: 1;
}

.sub-header-wrap {
    width: 100%;
    height: 40px;
    padding: 10px 40px 0px 10px;
    font-family: 'lato', sans-serif;
    font-size: 20px;
    font-weight: 500;
    background: lightgray;
}

.sub-header-table-wrap {
    width: 100%;
    height: 40px;
    padding: 10px 50px 0px 10px;
    font-family: 'lato', sans-serif;
    font-size: 14px;
    font-weight: 500;
    background: #286090;
}

.md-card-wrap {
    width: 100%;
    height: 40px;
    margin: 3px;
    padding: 0;
}

.md-card-label-wrap {
    font-size: 14px;
    font-weight: 500;
    padding-left: 50px;
}

.calc-detail-wrap {
    background:#bedaea;
    height: 60px;
    padding-top: 20px;
}

.calc-detail-label {
    font-size: 20px;
    font-weight: 600;
    height: 30px;
}

.label-wrap-001 {
    font-size: 14px;
    color: red;
    margin-top: 5px;
}

.tooltip-detail {
    margin-top: 18px;
    margin-right: 18px;
    fill:#B4B4B4;
}

.serach-more {
    width: 100%;
    height: 40px;
    padding: 10px 40px 0px 10px;
    font-family: 'lato', sans-serif;
    font-size: 20px;
    font-weight: 500;
    background: lightgray;
    cursor: pointer;
}

.serach-more:hover {
    background: #595959;
}

.price-text {
    /*text-align: right;*/
    /*margin: 0px;*/
}

.price-text > h1 {
    color: #026b9a;
    font-family: 'lato', sans-serif;
    font-weight: 600;
    font-size: 25px;
    margin: 0px;
}